.sidenav {
  color: #000;
  background-color: white;
}

.desc {
  color: #000;
  background-color: white;
  margin-top: 100px;
}

.ports {
  color: #000;
  background-color: white;
  margin-top: 75px;
  margin-left: 15px;
  min-width: 275px;
}

body {
  background-image: url("gradientbg.png");
  background-repeat: repeat-x;
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
}

h1 {
  text-align: center;
  color: #f761ec;
  font-family: 'Lobster', cursive;
}

h4 {
  text-align: center;
}

a {
  color: #51e2ab;
}

a:hover {
  text-decoration: none;
  color: #000;
}

a:active {
  color: #000;
  text-decoration: none;
}


